html, body {
    background: #eee;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

/* modified from https://codepen.io/anthonyLukes/pen/DLBeE */
#outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    background: #000;
    flex: 0 0 auto;
}

#content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 50;
}

#map-help {
    bottom: 1.5em;
    right: 1.5em;
    position: absolute;
    z-index: 99;
}

#auth-form {
    margin: 1em 0;
}
